<div class="box">

  <p class="subtitle has-text-grey"> <%= t 'replies.actions.new' %> </p>

  <%= custom_form_for [course, @post, @reply] do |f| %>
    <%= render partial: 'errors', locals: {obj: @reply} %>

    <div class="field">
      <div class="control">
        <%= f.text_area :body, class: 'textarea', placeholder: (t 'replies.fields.body'), rows: 7 %>
      </div>
    </div>

    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :post_id %>

    <div class="field">
      <div class="control has-text-centered">
        <%= f.submit (t 'replies.form.submit'), class: 'button is-primary is-medium' %>
      </div>
    </div>

  <% end %>

</div>