<article class="media">
  <div class="media-left">
    <p class="has-text-weight-bold"> @<%= reply.user.username %> </p>

    <figure class="image is-64x64" style="margin-top: 5px;">
      <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
    </figure>
  </div>

  <div class="media-content">
    <div class="content">
      <div class="level">

        <div class="level-left">
          <div class="level-item">
            <% if defined? reply_counter %>
              <p> <a id=<%= reply.id %> href="#<%= reply.id %>"> #<%= reply_counter + 1 %> </a> </p>
            <% end %>
          </div>
        </div>

        <div class="level-right">
          <div class="level-item">
            <p class="has-text-weight-light"> <%= t('posts.like_score', score: reply.like_score) %> </p>
          </div>

          <div class="level-item">
            <p class="has-text-weight-light"> <%= time_since_posted(reply) %> </p>
          </div>
        </div>
      </div>

      <p> <%= reply.body %> </p>

      <div class="level">
        <div class="level-left"> </div>

        <% unless policy(reply).owner? %>
          <div class="level-right">
            <div class="level-item">
              <%= render partial: 'like_button', locals: { likeable: reply, button_size: 'is-small', icon_size: 16 } %>
            </div>

            <div class="level-item">
              <%= render partial: 'dislike_button', locals: { likeable: reply, button_size: 'is-small', icon_size: 16 } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</article>