<tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= highlight(student.surname, filter) %></td>
      <td><%= highlight(student.name, filter) %></td>
      <td><%= highlight(student.file_number, filter) %></td>
      <% @tests.each do |test| %>
        <td class="has-text-centered"><%= student.score_for(test) %></td>
        <td class="has-text-centered"><%= boolean_to_glyph(student.passed?(test)) %></td>
      <% end %>
      <td class="has-text-centered"><%= boolean_to_glyph(student.passed?(@course)) %></td>
    </tr>
  <% end %>
</tbody>
