<%= form_subtitle (t 'courses.summary.title', year: @course.year) %>

<%= render partial: 'box', locals: { link_path: courses_path } %>

<div class="box">
  <%= search_form summary_course_path(@course) do %>
    <table id="table" class="table is-striped is-fullwidth is-narrow is-bordered">
      <%= render 'table' %>
    </table>
  <% end %>
</div>

<div id="pagination">
  <%= render 'pagination' %>
</div>