<%= students_sort_form_inputs %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th> <%= sort_students_by_surname %> </th>
      <th> <%= sort_students_by_name %> </th>
      <th> <%= sort_students_by_dni %> </th>
      <th> <%= sort_students_by_email %> </th>
      <th> <%= sort_students_by_file_number %> </th>
      <th colspan='2'></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= highlight(student.surname, filter) %></td>
        <td><%= highlight(student.name, filter) %></td>
        <td><%= highlight(student.dni, filter) %></td>
        <td><%= highlight(student.email, filter) %></td>
        <td><%= highlight(student.file_number, filter) %></td>
        <td><%= fa_link_to 'pencil', (t 'students.actions.edit'), edit_course_student_path(course_id, student) %></td>
        <td><%= fa_link_to 'trash-o', (t 'students.actions.destroy'), course_student_path(course_id, student), method: :delete, data: { confirm: (t 'students.actions.destroy_prompt') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @students, remote: true %></br>
<%= page_entries_info @students %>