<%= sort_form_inputs %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th> <%= sortable 'surname', (t 'students.fields.surname'), remote: true %> </th>
      <th> <%= sortable 'name', (t 'students.fields.name'), remote: true %> </th>
      <th> <%= sortable 'dni', (t 'students.fields.dni'), remote: true %> </th>
      <th> <%= sortable 'email', (t 'students.fields.email'), remote: true %> </th>
      <th> <%= sortable 'file_number', (t 'students.fields.file_number'), remote: true %> </th>
      <th> <%= sortable 'passing_score', (t 'test_results.fields.passing_score') %></th>
      <th> <%= sortable 'score', (t 'test_results.fields.score') %></th>
      <th> <%= sortable 'passed?', (t 'test_results.fields.passed?') %></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td> <%= student.surname %> </td>
        <td> <%= student.name %> </td>
        <td> <%= student.dni %> </td>
        <td> <%= student.email %> </td>
        <td> <%= student.file_number %> </td>
        <td> <%= @test.passing_score %> </td>
        <td> <%= student.score_for(@test) %> </td>
        <td> <%= boolean_to_glyph(student.passed?(@test)) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @students, remote: true %></br>
<%= page_entries_info @students %>
