<%= students_sort_form_inputs %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th> <%= sort_students_by_surname %> </th>
      <th> <%= sort_students_by_name %> </th>
      <th> <%= sort_students_by_dni %> </th>
      <th> <%= sort_students_by_email %> </th>
      <th> <%= sort_students_by_file_number %> </th>
      <th> <%= t 'test_results.fields.passing_score' %></th>
      <th> <%= t 'test_results.fields.score' %></th>
      <th> <%= t 'test_results.fields.passed?' %></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= highlight(student.surname, filter) %></td>
        <td><%= highlight(student.name, filter) %></td>
        <td><%= highlight(student.dni, filter) %></td>
        <td><%= highlight(student.email, filter) %></td>
        <td><%= highlight(student.file_number, filter) %></td>
        <td> <%= @test.passing_score %> </td>
        <td> <%= student.score_for(@test) %> </td>
        <td> <%= boolean_to_glyph(student.passed?(@test)) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @students, remote: true %></br>
<%= page_entries_info @students %>
