<%= form_subtitle (t 'test_results.show.title', test: @test.title) %>

<%= render partial: 'box', locals: { link_path: course_tests_path(@course) } %>

<br>
<p class="subtitle is-6 has-text-grey has-text-weight-bold"><%= t('test_results.show.evaluated_at') + ' ' + l(@test.evaluated_at, format: "%d-%m-%Y")%></p>
<p class="subtitle is-6 has-text-grey has-text-weight-bold"><%= t 'test_results.show.passing_score', passing_score: @test.passing_score %></p>

<div class="box">
  <%= remote_search_form califications_course_test_path(@course, @test) do %>
    <div id="califications">
      <%= render 'califications' %>
    </div>
  <% end %>
</div>

<%= render 'summary' %>