<div class="<%= notifications_class %>">
  <div class="navbar-link">
    <%=
      fa_link_to 'bell',
      (t 'navigation.notifications', count: current_user.unread_notifications.size),
      all_notifications_path,
      class: 'has-text-white',
      size: 20
    %>
  </div>

  <% if current_user.unread_notifications? %>
    <div class="navbar-dropdown is-right is-boxed">
      <% current_user.unread_notifications.take(15).each do |each| %>
        <div class="navbar-item">
          <%= render partial: each.partial_path, locals: { notification: each } %> &nbsp;

          <span class="has-text-weight-light is-italic">
            <%= time_ago_in_words each.created_at %>
          </span>
        </div>
      <% end %>

      <% if current_user.unread_notifications.size > 15 %>
        <div class="navbar-item">
          <span class="has-text-weight-light">
            <%= link_to t('notifications.actions.unread'), unread_notifications_path %>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>