<div class="<%= notifications_class %>">
  <div class="<%= bell_class %>" style="<%= bell_padding %>">
    <%=
      fa_icon 'bell',
      text: (t 'navigation.notifications', count: current_user.unread_notifications.size),
      style: "font-size:20px;"
    %>
  </div>

  <% if current_user.unread_notifications? %>
    <div class="navbar-dropdown is-right is-boxed">
      <% current_user.notifications.each do |each| %>
        <%= render partial: each.partial_path, locals: { notification: each } %>
      <% end %>
    </div>
  <% end %>
</div>