<div class="box is-marginless">
  <article class="media">
    <div class="media-left">
      <%= render partial: 'user_avatar', locals: { user: post.user } %>
    </div>

    <div class="media-content">
      <div class="content">
        <div class="level">
          <div class="level-left">
            <% if post.is_sticky? %>
              <div class="level-item">
                <p class="subtitle has-text-grey"> <%= fa_icon 'thumb-tack' %> </p>
              </div>
            <% end %>

            <div class="level-item">
              <p class="subtitle is-6">
                <%= link_to post_title(post, truncate_title), post.path %>
              </p>
            </div>
          </div>
        </div>

        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <p class="has-text-weight-light is-size-7"> <%= t('posts.like_score', score: post.like_score) %> </p>
            </div>
          </div>

          <div class="level-right">
            <div class="level-item">
              <p class="has-text-weight-light is-size-7"> <%= t('posts.replies_count', count: post.replies_count) %> </p>
            </div>

            <div class="level-item">
              <p class="has-text-weight-light is-size-7"> <%= time_since_posted(post) %> </p>
            </div>
          </div>
        </div>

        <p> <%= post_body(post, truncate_body) %> </p>

        <div class="level">
          <div class="level-left">
            <%= render partial: 'subscribe_button', locals: { subscribable: post, button_size: 'is-small' } %>
          </div>

          <% unless policy(post).owner? %>
            <div class="level-right">
              <div class="level-item">
                <%= render partial: 'like_button', locals: { likeable: post, button_size: 'is-small' } %>
              </div>

              <div class="level-item">
                <%= render partial: 'dislike_button', locals: { likeable: post, button_size: 'is-small' } %>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </article>
</div>