<%= form_subtitle (t 'posts.index.title', year: @course.year)  %>

<%= render layout: 'box', locals: { link_path: courses_path } do %>
  <div class="level-right">
    <div class="level-item">
      <%= fa_link_to 'plus', (t 'posts.actions.new'), @course.add_post_path, size: 35, class: 'has-text-success' %>
    </div>
  </div>
<% end %>

<%= render(partial: 'post', collection: @posts, locals: { truncate_body: true }) || (t 'posts.index.empty') %>

<br>

<%= paginate @posts %></br>
<%= page_entries_info @posts %>