<%= form_subtitle (t 'posts.index.title', year: @course.year)  %>

<%= render layout: 'box', locals: { link_path: courses_path } do %>
  <div class="level-right">
    <div class="level-item">
      <%= fa_link_to 'plus', (t 'posts.actions.new'), @course.add_post_path, size: 35, class: 'has-text-success' %>
    </div>
  </div>
<% end %>

<search-box placeholder="<%= t 'posts.actions.search' %>" route="<%= @course.forum_search_path %>"></search-box>

<div class="columns">
  <div class="column is-two-thirds">
    <%= render(partial: 'post', collection: @posts, locals: { include_body: false, include_avatar: false }) || (t 'posts.index.empty') %>
  </div>

  <div class="column">
    <%= render 'trending' %>
  </div>
</div>

<br>

<%= paginate @posts %></br>
<%= page_entries_info @posts %>