<%= form_subtitle (t 'posts.index.title', year: @course.year) %>

<%= fa_link_to 'chevron-left', (t 'navigation.back_link_label'), course_posts_path(course_id), size: 16, class: 'has-text-info' %>

<div style="margin-top: 25px;">
  <%= render partial: 'post', locals: { post: @post, truncate_body: false } %>
</div>

<br>

<% if has_best_reply? %>
  <div class="message is-primary is-marginless">
    <div class="message-body">
      <%= render partial: 'replies/show', locals: { reply: best_reply } %>
    </div>
  </div>
<% end %>

<div class="box">
  <%= render partial: 'replies/show', collection: @replies, as: :reply %>
</div>

<%= render 'replies/form', reply: @reply %>

<hr>

<%= paginate @replies, param_name: :replies_page %></br>
<%= page_entries_info @replies %>