<%= form_subtitle (t 'posts.index.title') %>

<%= fa_link_to 'chevron-left', (t 'navigation.back_link_label'), course_posts_path(course_id), size: 16, class: 'has-text-info' %>

<div style="margin-top: 25px;">
  <%= render partial: 'post', locals: { post: @post, truncate_body: false } %>
</div>

<hr>

<%= render partial: 'replies/show', collection: @replies, as: :reply %>

<%= paginate @replies, param_name: :replies_page %></br>
<%= page_entries_info @replies %>

<hr>

<%= render 'replies/form', reply: @reply %>