<%= form_subtitle (t 'posts.index.title', year: @course.year) %>

<%= fa_link_to 'chevron-left', (t 'navigation.back_link_label'), @course.forum_path, size: 16, class: 'has-text-info' %>

<div style="margin-top: 25px;">
  <%= render partial: 'post', locals: { post: @post } %>
</div>

<br>

<% if has_best_reply? %>
  <div class="message is-primary is-marginless">
    <div class="message-body">
      <%= render partial: 'replies/show', locals: { reply: best_reply } %>
    </div>
  </div>
<% end %>

<% unless @replies.empty? %>
  <div class="box">
    <%= render partial: 'replies/show', collection: @replies, as: :reply %>
  </div>
<% end %>

<%= paginate @replies, param_name: :replies_page %>
<%= page_entries_info @replies %>

<hr>

<%= render 'replies/form', reply: @reply %>