<%= form_tag url, method: :get, id: form_id do %>
  <div class="field has-addons">
    <div class="control has-icons-right">
      <%= text_field_tag :q, filter, autofocus: true, placeholder: (t 'views.search.prompt'), class: 'input' %>

      <span class='icon is-right'>
        <%= fa_icon 'search' %>
      </span>
    </div>
  </div>

  <%= yield %>

  <%= (javascript_include_tag 'search', 'data-turbolinks-track' => 'reload') if remote %>
<% end %>
