<%= render partial: 'box', locals: { link_path: course_tests_path(course_id) } %>

<div class="box column is-4 is-offset-4">

  <p class="title is-4 has-text-grey has-text-centered"> <%= t 'tests.actions.new' %> </p>

  <%= custom_form_for [course, @test] do |f| %>
    <%= render partial: 'errors', locals: {obj: @test} %>

    <div class="field">
      <%= f.label t 'tests.fields.title' %>
      <div class="control">
        <%= f.text_field :title, class: 'input', autofocus: true, placeholder: (t 'tests.fields.title') %>
      </div>
    </div>

    <div class="field">
      <%= f.label t 'tests.fields.evaluated_at' %>
      <div class="control">
        <%= f.date_select :evaluated_at, class: 'select' %>
      </div>
    </div>

    <div class="field">
      <%= f.label t 'tests.fields.passing_score' %>
      <div class="control">
        <%= f.number_field :passing_score, min: 0, max: 10, class: 'input', placeholder: (t 'tests.fields.passing_score') %>
      </div>
    </div>

    </br>

    <div class="field">
      <div class="control has-text-centered">
        <%= f.submit (t 'tests.form.submit'), class: 'button is-primary is-medium' %>
      </div>
    </div>

  <% end %>

</div>