<%= sort_form_inputs %>

<table class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th><%= sortable 'title', (t 'tests.fields.title'), remote: true %></th>
      <th><%= sortable 'evaluated_at', (t 'tests.fields.evaluated_at'), remote: true %></th>
      <th><%= sortable 'passing_score', (t 'tests.fields.passing_score'), remote: true %></th>
      <th colspan='4'></th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.title %></td>
        <td><%= l test.evaluated_at, format: "%d-%m-%Y" %></td>
        <td><%= test.passing_score %></td>
        <td><%= fa_link_to 'table', (t 'tests.actions.edit_califications'), edit_califications_course_test_path(course_id, test), size: 18 %></td>
        <td><%= fa_link_to 'list-ol', (t 'tests.actions.view'), califications_course_test_path(course_id, test), size: 18 %></td>
        <td><%= fa_link_to 'pencil', (t 'tests.actions.edit'), edit_course_test_path(course_id, test), size: 18 %></td>
        <td><%= fa_link_to 'trash-o', (t 'tests.actions.destroy'), course_test_path(course_id, test), size: 18, method: :delete, data: { confirm: (t 'tests.actions.destroy_prompt') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @tests, remote: true %></br>
<%= page_entries_info @tests %>