<%= form_subtitle (t 'tests.index.title', year: course.year) %>

<%= render layout: 'box', locals: { link_path: courses_path } do %>
  <div class="level-right">
    <div class="level-item">
      <%= fa_link_to 'plus', (t 'tests.actions.new'), new_course_test_path(course_id), size: 35, class: 'has-text-success' %>
    </div>
  </div>
<% end %>

<div class="box">
  <table class="table is-striped is-fullwidth">
    <thead>
      <tr>
        <th><%= t 'tests.fields.title' %></th>
        <th><%= t 'tests.fields.evaluated_at' %></th>
        <th><%= t 'tests.fields.passing_score' %></th>
        <th colspan='3'></th>
      </tr>
    </thead>

    <tbody>
      <% @tests.each do |test| %>
        <tr>
          <td><%= test.title %></td>
          <td><%= l test.evaluated_at, format: "%d-%m-%Y" %></td>
          <td><%= test.passing_score %></td>
          <td><%= fa_link_to 'list-ol', (t 'tests.actions.view'), results_course_test_path(course_id, test), size: 18 %></td>
          <td><%= fa_link_to 'pencil', (t 'tests.actions.edit'), edit_course_test_path(course_id, test), size: 18 %></td>
          <td><%= fa_link_to 'trash-o', (t 'tests.actions.destroy'), course_test_path(course_id, test), size: 18, method: :delete, data: { confirm: (t 'tests.actions.destroy_prompt') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
