<%= back_link_path course_tests_path(course_id, @test) %>
<%= render 'title' %>
</br></br></br>

<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Evaluated at:</strong>
  <%= @test.evaluated_at %>
</p>

<p>
  <strong>passing score:</strong>
  <%= @test.passing_score %>
</p>

</br>
<%= fa_link_to 'pencil', (t 'tests.actions.edit'), edit_course_test_path(course_id, @test), size: 25 %>